<!DOCTYPE html>
<html>
<head>
	<title> Company name </title>
	<link rel = "stylesheet" type = "text/css" href = "css/style.css">
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/css/all.js"></script>
</head>
<body>
	<header>
		<div class = "main">
			<div class = "logo">
				<img src="2.png">
			</div>
			<div class ="search-box">
				<input class="search-text" type="text" name="" placeholder="Type to search">
				<a class = "search-btn" href="">
					<img src="search.png">
					
				</a>
			 </div>

			<ul>
				<li class = "active"><a href = "#" >Home</a></li>
				<li><a href = "#" >Technology</a></li>
				<li><a href = "#" >About</a></li>
				<li><a href = "track.html" >Track</a></li>
				<li><a href = "SIGNUP.html" >Sign Up</a></li>
				<li><a href = "sign-in.html" >Sign in</a></li>

				<li><a href = "delivery.html" >Delivery</a></li>

			</ul>
		</div>
		<dir class="title">
			<h1>
				Shipping Solution for e-Commerce
			</h1>
			<li><a href = "#" >Get started</a></li>
		</dir>

		<dir class="button">
			<a href="#" class="btn">Contact Us</a>
			<a href="#" class="btn">Learn more</a>
		</dir>
	</header>
</body>
</htmt>