<!DOCTYPE html>
<html>
<head>
	<title> Sign up </title>
	<link rel = "stylesheet" type = "text/css" href = "su-css/style.css">
</head>
	<body>
		<ul>
				<li><a href = "index.html" >Home</a></li>
				<li><a href = "#" >Technology</a></li>
				<li><a href = "#" >About</a></li>
				<li><a href = "track.html" >Track</a></li>
				<li class = "active"><a href = "SIGNUP.html" >Sign Up</a></li>
				<li><a href = "sign-in.html" >Sign in</a></li>

			</ul>
		<div class="sign-up-form">
			<h1> Sign up now </h1>
			<img src="su-css/c.png">
			<form>
				<input type="First name" class="input-box" placeholder="First name">
				<input type="laast name" class="input-box" placeholder="Last name">
				<input type="Phone number" class="input-box" placeholder="Phone number">
				<input type="email" class="input-box" placeholder="Your Email">
				<input type="password" class="input-box" placeholder="Your Password">
				<p><span><input type="checkbox" ></span> I agree to your tearms and services</p>
				<button type="button" class="signup-btn">Sign up</button>
				<hr>
				<p class="or"> OR </p>
				<button type="button" class="signup-btn"><a href = "https://accounts.google.com/signin/v2/identifier?hl=en&flowName=GlifWebSignIn&flowEntry=ServiceLogin">Login with Google</button>
				<p>Do you already have an account? <a href="sign-in.html">Sign in</a></p>
			</form>
		</div>
	</body>
	</html>
	