<!DOCTYPE html>
<html>
<head>
	<title> Sign up </title>
	<link rel = "stylesheet" type = "text/css" href = "su-css/style.css">
</head>
	<body>
		<ul>
				<li><a href = "index.html" >Home</a></li>
				<li><a href = "#" >Technology</a></li>
				<li><a href = "#" >About</a></li>
				<li><a href = "track.html" >Track</a></li>
				<li ><a href = "SIGNUP.html" >Sign Up</a></li>
				<li class = "active"><a href = "sign-in.html" >Sign in</a></li>
				<li><a href = "delivery.html" >Delivery</a></li>

			</ul>
		<div class="sign-up-form">
			<h1> Sign in now </h1>
			<img src="su-css/c.png">
			<form>
				<input type="email or phone number" class="input-box" placeholder="Your Email or Phone Number">
				<input type="password" class="input-box" placeholder="Your Password">
				<button type="button" class="signup-btn">Sign in</button>
				<hr>
				<p class="or"> OR </p>
				<button type="button" class="signup-btn"><a href = "https://accounts.google.com/signin/v2/identifier?hl=en&flowName=GlifWebSignIn&flowEntry=ServiceLogin"> Login with Google </button>
				</form>
		</div>
	</body>
	</html>