<!DOCTYPE html>
<html>
<head>
	<title> Tracking </title>
	<link rel = "stylesheet" type = "text/css" href = "t-css/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
</head>
	<body>
		<ul>
				<li><a href = "index.html" >Home</a></li>
				<li><a href = "#" >Technology</a></li>
				<li><a href = "#" >About</a></li>
				<li class = "active"><a href = "track.html" >Track</a></li>
				<li ><a href = "SIGNUP.html" >Sign Up</a></li>
				<li ><a href = "sign-in.html" >Sign in</a></li>

			</ul>
		<div class="sign-up-form">
			<h1> Schedule and track your order in real time </h1>
			
		</div>
		<div class="wrapper">
	<input type="text" class="input" 
	placeholder="Tracking Number">
	<div class="searchbtn"><i class="fas fa-search"></i></div>
	</div>
	<li class="tracking"><a href="#">Where can i find my tracking number ?</a>


		







	</body>
	</html>